@font-face {
    font-family: 'CherryBomb';
    src: url('../fonts/CherryBomb.ttf') format('truetype');
}

.container {
    padding: 0 80px;
    font-size: 24px;
}

p {
    padding: 0;
    margin: 0;

    font-family: 'CherryBomb';
}

.container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: antiquewhite;
}

.title_style {
    padding: 16px 0;
    font-size: 28px;
}

.container_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block {
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;

    background-color: #C4C4C4;
}

.block_container {
    margin-top: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.hallway_middle {
    width: 480px;
    height: 50px;
    background-color: #DDDDDD;
}

.container_bot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_bot_top {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.hallway-y {
    width: 50px;
    height: 140px;
    background-color: #DDDDDD;
    /* box-shadow: 0px 4px 10px 10px rgba(0, 255, 0, 0.5); */
}

.hallway-x {
    width: 200px;
    height: 50px;
    background-color: #DDDDDD;
    /* box-shadow: 0px 4px 10px 10px rgba(0, 255, 0, 0.5); */
}

.hallway-y-right {
    margin-left: 150px;
}

.hallway-y-bot {
    margin: 0 150px;
}

.container_bot_bot {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: row;
}

.header-item{
    width: 200px;
}

.input-block {
    width: 350px;
    height: 150px;


    background-color: #C4C4C4;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.input-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btnOK {
    width: 100px;
    height: 85px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FF0000;
    border-radius: 25px;
    cursor: pointer;
}

.btn:hover {
    background-color: #00ff00;
}

.doctor-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#doctor-block {

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    border-radius: 25px;
    width: 98%;
    height: 96%;
    border: 4px solid #00ff00;
}

.btn-next {
    width: 100px;
    height: 80px;
}

input {
    height: 45px;
    width: 180px;
    border-radius: 25px;
    border: antiquewhite;
    margin: 5px 0;

    font-family: 'CherryBomb';
    font-size: 22px;
}

.waiter-output-form {
    width: 300px;
    height: 150px;
    font-size: 12px;
}

.doc-output-form{
    width: 220px;
    height: 100px;
}

.doctor-push {
    align-self: center;
}