.container {

    // .container_header
    &_header {
        background-color: rgb(198, 198, 198);
    }
}

.navbar {

    // .navbar_header
    &_header {
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-around;
    }
}

.header {

    // .header_logo

    &_logo {
        img {
            max-height: 80px;
            max-width: 80px;
            object-fit: contain;
        }
    }

    // .header_title

    &_title {
        display: flex;
        align-items: center;
    }
}

.title {

    // .title_style

    &_style {
        font-family: 'old';
        font-size: 34px;
    }

    @media (max-width: $breakpoint768) {
        &_style {
            font-size: 28px;
        }
    }
}